Sphinx # ==7.4.5
sphinx-copybutton  #==0.5.2
sphinx-rtd-theme  #==2.0.0
sphinx-togglebutton  #==0.3.2
sphinx_design  #==0.6.0

# docutils #==0.20

# for interactive jupyter
# notebook
# jupyter-sphinx
# sphinx-thebe

