Sphinx # ==8.2.3
sphinx-copybutton  #==0.5.2
sphinx-rtd-theme  #==3.0.2
sphinx-togglebutton  #==0.3.2
sphinx_design  #==0.6.1

# docutils>=0.20,<0.22


# sphinx 8.2.3 requires docutils<0.22,>=0.20
# sphinx-rtd-theme 3.0.2 requires docutils<0.22,>0.18,
# docutils 0.22.2 is incompatible.

# for interactive jupyter
# notebook
# jupyter-sphinx
# sphinx-thebe
